

<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-6">

			<div class="panel panel-primary">
			<p1>
				<strong>Title:</strong>
				<%= link_to @product.title %>
			</p1>
			<br>
			<p1>
				<strong>Description:</strong>
				<%= @product.description %>
			</p1>
			<br>
			<p1>
				<strong>Price:</strong>
				<%= number_to_currency(@product.price, :unit => "$") %>

			</p1>
			<br><br>

			<button type="button" class="btn btn-secondary btn-lg">
    			<a href="/cart/<%= @product.id %>"> Add To Cart</a>
    		</button>


    		<button type="button" class="btn btn-secondary btn-lg">
    			<%= link_to 'Back', products_path %> 
    		</button>
			
			<br><br>
			
			<% if current_user.try(:admin?) %>
			<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
			<%= link_to 'Edit', edit_product_path(@product) %>
			<% end %>
			

			</div>


		</div>

		<div class="col-md-6">
			<%= image_tag @product.image.url(:medium) %>
		</div>


		
	</div>
</div>
